
.root{
    justify-content: center;
    align-items: center;
    text-align: center;
}


/*#mainimg{
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0;
}*/

#center{
    flex-grow: 2;
    align-items: center;
    width: 100%;
    z-index: -1;
}

#main h1{
    font-size: 50px;
    
    margin-top: 50px;
    font-weight: bold;
    color: rgb(88,88,88);
    border: 5px solid rgb(88,88,88);
    margin: 24%;
    margin-top: 5%;
    margin-bottom: 1%;
    
}

.mainimg{
    width:50%;
    padding: 0px;
    border: 5px solid rgb(88,88,88)
}


